<!-- Header Partial -->
<%- include('partials/header'); %>
	<title>Confirm</title>
    </head>

    <body>
        <style>
            html {
                position: relative;
                min-height: 100%;
            }
            
            body {
                background-color: lavenderblush;
                margin-bottom: 100px;
            }
            
            body>nav>ul>li>a:hover {
                color: cornflowerblue !important;
            }
            
            body>div.footer>div>div.col-sm-12.bg-dark.justify-content-center.text-center.text-uppercase.font-weight-bold>ul>li>a:hover {
                color: cornflowerblue !important;
            }
            
            .footer {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 60px;
            }
        </style>
        <div class="page-header">
            <h1 style="text-align: center">Art Digital</h1>
        </div>
        <!-- Navbar Partial -->
        <nav
            class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center"
            >
            <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/main">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/create-asset">Create</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/buy">Buy</a>
            </li>
            <ul class="mr-auto">
                <li class="nav-item dropdown">
                <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="dropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                Placeholder 
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdown">
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
                </li>
            </ul>
            </ul>
            </nav>
            <!-- Items Owned by Logged In User Items Include: Price, Name of Item, Description and Owner Name with "Sell Button"-->
            <body>
			<div class="container" style="margin-top: 100px;text-align: center;">
				<p> Please note down the following three words, the system would not explictly store the recovery words for you</p>
			  <div class="row" style="padding-bottom: 5%;">
				<div class="col-sm" style="background-color: antiquewhite;  border-style: solid; border-color: black; "><%= word1%></div>
				<div class="col-sm" style="background-color: antiquewhite;  border-style: solid; border-color: black; "><%= word2%></div>
				<div class="col-sm" style="background-color: antiquewhite;  border-style: solid; border-color: black; "><%= word3%></div>
			  </div>
			  <a href='/main' class="btn btn-sm btn-danger ">Done</a>
			</div>
    
            <!-- Footer Partial -->
            <%- include('partials/footer'); %>