<!-- Header Partial -->
<%- include('partials/header'); %>
	<title>Buy</title>
    </head>

    <body>
        <style>
            html {
                position: relative;
                min-height: 100%;
            }
            
            body {
                background-color: lavenderblush;
                margin-bottom: 100px;
            }
            
            body>nav>ul>li>a:hover {
                color: cornflowerblue !important;
            }
            
            body>div.footer>div>div.col-sm-12.bg-dark.justify-content-center.text-center.text-uppercase.font-weight-bold>ul>li>a:hover {
                color: cornflowerblue !important;
            }
            
            .footer {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 60px;
            }
        </style>
        <div class="page-header">
            <h1 style="text-align: center">Art Digital</h1>
        </div>
        <!-- Navbar Partial -->
        <nav
            class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center"
            >
            <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/main">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/create-asset">Create</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/buy">Buy</a>
            </li>
            <ul class="mr-auto">
                <li class="nav-item dropdown">
                <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="dropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                Placeholder 
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdown">
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
                </li>
            </ul>
            </ul>
            </nav>
            <!-- Items Owned by Logged In User Items Include: Price, Name of Item, Description and Owner Name with "Sell Button"-->
            <div class="container">
                <div class="row">
                    <% if(Assets != null) { %>
                        <% for(var i = 0; i < Assets.length; i++) { %>
                            <div class="col-sm-4" style="margin-bottom: 3%;margin-top: 1%;">
                                <div class="card" style="width: 400px">
                                    <img class="card-img-top" src="uploads/images/<%=Assets[i]['asset']%>" style="width: 100%" />
                                    <div class="card-body">
                                        <h4>Name:
                                            <%=Assets[i]['asset_name']%>
                                        </h4>
                                        <p>Description:
                                            <%=Assets[i]['asset_desc']%>
                                        </p>
                                        <p>Created Date:
                                            <%=Assets[i]['created_date']%>
                                        </p>
                                        <a class="btn btn-info btn-sm w-100" href="buy/<%=Assets[i]['_id']%>">
										Buy
										</a>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                                <% } %>
                </div>
            </div>
            <!-- Footer Partial -->
            <%- include('partials/footer'); %>