  <!-- Header Partial -->
  <%- include('partials/header'); %>
    <link href="/css/cover.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      
      <div class="mb-auto"></div>

      <main role="main" class="inner cover">
        <h1 class="cover-heading"><%=errorHeading%></h1>
        <p class="lead">
          <%=errorText%>
        </p>
        <p class="lead">
          <a href="<%=redirectLink%>" class="btn btn-lg btn-secondary"><%=errorBtnText%></a>
        </p>
      </main>

      <div class="mt-auto"></div>
      
    </div>
  </body>
</html>
